.new {
    background-color: #00d7d2;
    border-radius: 5px;
    color: #031b4e;
    cursor: default;
    display: inline-block;
    font-size: 9px;
    line-height: 12px;
    padding: 4px 8px;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    margin-right: 5px;
    font-weight: bold;
}

.header-top .navbar-default .navbar-nav>li>a {
    color: #5b6987;
}

.navbar-default {
    background-color: white;
}

.navbar-nav>li {
    font-size: 12px;
}

.navbar-default .navbar-right>li>a:focus,
.navbar-default .navbar-right>li>a:hover {
    color: #777;
}

.navbar-default .navbar-left>li>a:focus,
.navbar-default .navbar-left>li>a:hover {
    color: #0069ff;
}

.text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1024px) {
    .navbar-toggle {
        display: block;
        float: right;
    }

    .navbar-brand {
        float: none;
    }

    .collapse.navbar-collapse .nav.navbar-nav {
        display: none;
    }

    .navbar-header {
        float: none;
    }
}
